.form
  %h2
    = (current_user.id == @user.id) ? 'Seu perfil' : "Editando Perfil"
  .errors
    = error_messages_for :user, :message => ""
  - form_for @user do |f|
    .field
      = f.label 'Apelido'
      %br
      = f.text_field 'nick'
      
    .field
      = f.label 'url (ex: seu blog)'
      %br
      = f.text_field 'url'
    
    .field
      = f.label 'e-mail (não publico)' 
      %br
      = f.text_field 'email'
      
    .field
      = f.label 'Usuário Twitter' 
      %br
      @
      = f.text_field 'twitter_user', :size => 28     
    - if current_user.editor? && !@user.editor?
      = f.label 'Status'
      %br
      = f.select 'active', [["Ativo",true], ["Inativo",false]]
    - if current_user.admin?
      .field
        = f.label 'Responsabilidade'
        = f.select 'role', [["Escritor","writer"], ["Editor","editor"], ["Administrador","admin"]]
        
    .field.submit
      = submit_tag 'Salvar'
      ou
      = link_to 'Cancelar', posts_url