.form
  %h2
    = current_user.id == @user.id ? 'Seu perfil' : "Editando Perfil"
  .errors
    = error_messages_for :user
  - form_for @user do |f| 
    .field
      = f.label 'Apelido'
      %br
      = f.text_field 'nick'
      
    .field
      = f.label 'url (ex: seu blog)'
      %br
      = f.text_field 'url'
    
    .field
      = f.label 'e-mail (não publico)' 
      %br
      = f.text_field 'email'
        
    - if current_user.admin?
      .field
        = f.label 'Admin?'
        = f.check_box 'admin'

    .field.submit
      = submit_tag 'Salvar'
      ou
      = link_to 'Cancelar', posts_url