#form
  - form_for :user, :url => users_path do |f| 
    .field
      = f.label 'login' 
      %br
      = f.text_field 'login'

    .field
      = f.label 'password' 
      %br
      = f.text_field 'password'
    
    .field
      = f.label 'email' 
      %br
      = f.text_field 'email'

    .field
      = f.label 'password confirmation' 
      %br
      = f.text_field 'password_confirmation'

    .field
      = submit_tag 'Sign up'
