%p
  = link_to "Ruby Onda", home_path
  foi desenvolvido pela
  = link_to "Bopia", "http://www.bopia.com" 
  e é mantido pela comunidade.
  %br
  = mail_to "bruno@bopia.com", "Entre em Contato", :encode => "hex"
  %br
  %br 
  %p
    Ruby Onda recomenda 
    = link_to "linode.com", "http://www.linode.com/?r=5f852f94f758cb245760aa66ba11a67fd726d7ce"
  = link_to image_tag("linode.gif"), "http://www.linode.com/?r=5f852f94f758cb245760aa66ba11a67fd726d7ce"
  %p
    = link_to "linode.com", "http://www.basecampHQ.com/?referrer=BRUNOMIRANDA"
  = link_to image_tag("https://affiliates.37signals.com/images/products/basecamp/banner-270x125.png"), "http://www.basecampHQ.com/?referrer=BRUNOMIRANDA"  