.form
  %h1 Sobre o Ruby Onda

  %h2
    Oque é isso?
  
  %p 
    O Ruby Onda é um site mantido pela communidade com o objetivo de trazer as últimas noticias sobre Ruby, Rails, Merb, jQuery, Prototype e muito mais. Não é um agregador de 
    noticias automatico, mas sim notícias escolhidas pelos membros, oque resulta em melhor qualidade.
  %p
    Quando o artigo é publicado no site, ele é automaticamente enviado para o twitter
    = link_to ("@rubyonda", "http://twitter.com/rubyonda", :class => 'red') + "."
  %h2
    Como?
  %p     
    O site foi desenvolvido em algumas horas vagas por 
    = link_to("Roberto Soares", "http://peakhut.com") 
    = link_to("[@bt1]", "http://twitter.com/bt1")
    e 
    = link_to("Bruno Miranda", "http://brunomiranda.com")
    = link_to("[@brupm]", "http://twitter.com/brupm") + "."
    Feito em 
    = link_to "Ruby on Rails", "http://rubyonrails.org"
    e
    = link_to("HAML", "http://haml.hamptoncatlin.com/") + "."
    Agradecimentos a 
    = link_to "Carlos Brando", "http://www.nomedojogo.com/"
    pelo ótimo plugin 
    = link_to "custom_resource_name", "http://www.nomedojogo.com/custom-resource-name-plugin/"
    e ao pessoal da 
    = link_to "ImproveIt", "http://www.improveit.com.br/"
    pelo
    = link_to("brazilian-rails", "http://brazilian-rails.rubyforge.org/") + "."