.form
  %h1 Sobre o Ruby Onda

  %p 
    Ruby onda tem o objetivo de trazer as últimas noticias sobre Ruby, Rails, Merb, jQuery, Protorype e muito mais. 
    O site foi desenvolvido em algumas horas vagas por 
    = link_to "Roberto Soares", "http://peakhut.com" 
    e 
    = link_to("Bruno Miranda", "http://brunomiranda.com") + "."
  %p 
    Site feito em 
    = link_to "Ruby on Rails[EDGE]", "http://rubyonrails.org"
    e
    = link_to("HAML", "http://haml.hamptoncatlin.com/") + "."
    Agradecimentos a Carlos Brando pelo ótimo plugin 
    = link_to "custom_resource_name", "http://www.nomedojogo.com/custom-resource-name-plugin/"
    e ao pessoal do
    = link_to("brazilian-rails", "http://brazilian-rails.rubyforge.org/") + "."