.post 
  .post_top
  .content
    .avatar
      = avatar_tag(post.user.email)
    
    %h2 
      = link_to post.title, post.full_url
      - if logged_in?
        - if post.can_edit?(current_user)
          %small
            = link_to "// editar", edit_post_url(post.permalink)
    %p
      = h post.description
    .owner_time
      postado por
      = link_to_unless post.user.url.blank?, post.user.nick, post.user.full_url
      - if logged_in? && current_user.admin?
        \//
        = link_to('Perfil', edit_user_url(post.user)) 
      \//
      = link_to "Link Permanente", post_path(post.permalink)
      
  