!!! 1.1
%html
  %head
    %title RubyOnda.com - Na crista da onda, trazendo as novidades sobre Ruby, Rails e mais
    %meta{'name' => 'author', :content => 'Bruno Miranda, Roberto Soares'}/
    %meta{'name' => 'keywords', :content => "#{Tag.find(:all).join(', ')}"}/
    %meta{'name' => 'description', :content => "Novidades sobre Ruby, Rails e mais"}/
    %meta{'name' => 'copyright', :content => "Bruno Miranda, Roberto Soares"}/
    %meta{'name' => 'robots', :content => "ALL"}/
    %meta{'name' => 'distribution', :content => "Global"}/
    %meta{'name' => 'rating', :content => "General"}/
    %meta{'name' => 'language', :content => "pt-br"}/
    %meta{'name' => 'DC.title', :content => "RubyOnda.com - Na crista da onda, trazendo as novidades sobre Ruby, Rails e mais"}/
    
    = stylesheet_link_tag  "reset", "style", "960", "text"
    = auto_discovery_link_tag :rss, "http://feeds.feedburner.com/RubyOnda", :title => 'RubyOnda.com'
    = javascript_include_tag 'prototype', 'application'
  %body
    
    .container_12.top_div
      .grid_8.prefix_2
        .grid_5.alpha.intro
          %h2 
            Na crista da 
            = link_to "onda", home_path
            %span.supersmall
              ?
            , trazendo as novidades sobre Ruby, Rails e mais
          = render :partial => "shared/menu"
        .grid_2.logo
          %h1 
            = link_to "Ruby Onda", root_path
        .grid_1.omega.subscribe
          = link_to(image_tag("http://www.feedburner.com/fb/images/pub/feed-icon32x32.png"), "http://feeds.feedburner.com/RubyOnda", :type=> "application/rss+xml", :rel => "alternate")
          = link_to("Assine o RSS", "http://feeds.feedburner.com/RubyOnda", :type=> "application/rss+xml", :rel =>  "alternate")
      .grid_8.prefix_2
        .errors.toperrors
          = flash[:notice]
          = flash[:error]
        = yield
      .grid_8.prefix_2.footer
        = render :partial => 'shared/footer'        
      - if Env.production?
        = render :partial => 'shared/google'