!!! XML
!!! 1.1
%html
  %head
    %title Title
    = stylesheet_link_tag  "reset", "style", "960", "text" 
  %body
    .container_12
      .grid_8.prefix_2
        .grid_5.alpha.intro
          %h2 Ruby na crista da onda. Chegou pra trazer as melhores noticias da communidade Ruby
          = link_to 'Enviar Item', new_post_url
          \//        
          = link_to 'RSS', formatted_posts_url(:rss) 
        .grid_3.omega.logo
          %h1 
            = link_to "Ruby Onda", root_path
      .grid_8.prefix_2
        = yield
      .grid_8.prefix_2.footer
        = render :partial => 'shared/footer' 
        
