  !!! XML
!!! 1.1
%html
  %head
    %title RubyOnda.com
    = stylesheet_link_tag  "reset", "style", "960", "text"
    = auto_discovery_link_tag :rss, formatted_posts_url(:rss), :title => 'RubyOnda.com'
    = javascript_include_tag 'prototype'
  %body
    .container_12
      .grid_8.prefix_2
        .grid_5.alpha.intro
          %h2 Na crista da onda, trazendo as novidades sobre Ruby, Rails e mais
          = render :partial => "shared/menu"
        .grid_3.omega.logo
          %h1 
            = link_to "Ruby Onda", root_path
      .grid_8.prefix_2
        .errors.toperrors
          = flash[:notice]
          = flash[:error]
        = yield
      .grid_8.prefix_2.footer
        = render :partial => 'shared/footer' 
        
